h1{
    background-color: coral;
    color: blue
    
}
/* #para1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
} */
#para2
{
    color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pclass{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}